name: Swift
on:
  push:
    branches: ["wasm32-wasi-release/6.0"]
  pull_request:
    branches: ["wasm32-wasi-release/6.0"]
jobs:
  build:
    runs-on: ubuntu-latest
    container: swiftlang/swift:nightly-6.0-jammy@sha256:f0539cdca206be225924aee0c2e00d8901ddecda4e3f7e79c2b312573c0606e1
    env:
      STACK_SIZE: 524288
    steps:
      - uses: actions/checkout@v4
      - name: Install tools
        run: apt-get update && apt-get install --no-install-recommends -y wabt binaryen
      - run: swift --version
      - run: swift sdk install https://github.com/swiftwasm/swift/releases/download/swift-wasm-6.0-SNAPSHOT-2024-06-14-a/swift-wasm-6.0-SNAPSHOT-2024-06-14-a-wasm32-unknown-wasi.artifactbundle.zip
      - name: Build
        run: |
          swift build --product swift-format --swift-sdk wasm32-unknown-wasi -c release -Xlinker -z -Xlinker stack-size=$STACK_SIZE
          wasm-strip .build/release/swift-format.wasm
          wasm-opt -Oz -all .build/release/swift-format.wasm -o swift-format.wasm
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: swift-format.wasm
          path: swift-format.wasm
  test:
    runs-on: ubuntu-latest
    container: swiftlang/swift:nightly-6.0-jammy@sha256:f0539cdca206be225924aee0c2e00d8901ddecda4e3f7e79c2b312573c0606e1
    env:
      STACK_SIZE: 4194304
    steps:
      - uses: actions/checkout@v4
      - uses: bytecodealliance/actions/wasmtime/setup@v1
      - run: swift --version
      - run: wasmtime -V
      - run: swift sdk install https://github.com/swiftwasm/swift/releases/download/swift-wasm-6.0-SNAPSHOT-2024-06-14-a/swift-wasm-6.0-SNAPSHOT-2024-06-14-a-wasm32-unknown-wasi.artifactbundle.zip
      - run: swift build -c release --build-tests --swift-sdk wasm32-unknown-wasi -Xlinker -z -Xlinker stack-size=$STACK_SIZE
      - run: wasmtime --dir / --wasm max-wasm-stack=$STACK_SIZE .build/release/swift-formatPackageTests.wasm
